body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body.light-theme {
  background: white;
  color: black;
}

body.dark-theme {
  background: #111;
  color: white;
}

.header{
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.colorSchemes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  justify-content: center;
}

button {
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

.identifiers {
  text-align: center;
  padding: 15px;
}