body.light-theme {
  background: white;
  color: black;
}

body.dark-theme {
  background: #111;
  color: white;
}

.header{
  text-align: center;
  text-transform: uppercase;
}

.colorSchemes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  justify-content: center;
}

button {
  padding: 10px;
}