.dark-theme {
  background-color: Black;
}

.light-theme {
  background-color: white;
}

h1.dark-theme {
  color: white;
}

h1.light-theme {
  color: black;
}

.button-primary {

}
.button-secondary {

}
